body {
  background-color: #e7e9ec;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  font-family: "Zen Dots", sans-serif;
  color: #F3683C;
  font-size: 2rem;
  text-align: left;
  width: 100%;
  padding: 20px;
}

.main-content {
  display: flex;
  width: 100%;
  position: relative; /* Ensure relative positioning for absolute children */
}

.vertical-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.vertical-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

.vertical-line {
  width: 2px;
  flex-grow: 1;
  background-color: #F3683C;
}

.menu-item {
  transform: rotate(-90deg);
  transform-origin: left top;
  margin-top: 10px;
}

.menu-item a {
  color: #F3683C;
  text-decoration: none;
  font-family: "Zen Dots", sans-serif;
  font-size: 1.2rem;
}

.container {
  flex-grow: 1;
  position: relative; /* Ensure relative positioning for absolute children */
}

.headline-container {
  position: relative; /* Ensure relative positioning for absolute children */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headline {
  text-align: left;
  font-size: 2.5rem;
  margin: 2rem 0;
  z-index: 1; /* Ensure it is above the Blob */
}

.BlobContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  pointer-events: none;
  z-index: 0; /* Ensure it is below other content */
}

@media (max-width: 768px) {

  .vertical-menu {
    
    padding: 0px;
  }
  

}