.description {
    z-index: 999;
}

.Dictionary {
    font-family: "Manrope", sans-serif;
    padding-bottom: 40px;
}

.Dictionary form {
    display: flex;
    justify-content: center;
   
    
}

.Dictionary input {
    width: 100%;
    line-height: 3rem;
    border-radius: 12px;
    border: 3px dashed #000000;
    z-index: 999;
}

.Results {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.WordSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 1.1rem;
    margin: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
    background-color:  rgb(179, 57, 57); 
    text-align: center;
}

.Typewriter {
    font-size: 3em;
    
}

hr {
    width: 100%;
    border: 1px solid black;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    z-index: 999;
    margin: 0.2rem;
}



@media (max-width: 768px) {

    section {
     border: none; 
     padding: 0px;

    }
}