.Meaning {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
}

.meaning-card {
    border: 1px solid #522d22;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 20px;
    
}

.examples {
    color: rgb(117, 55, 55);
    font-style: italic;
    opacity: 0.7;
    font-size: 16px;
    padding-top: 10px;
}


@media (max-width: 768px) {

    .Meaning {
        
        display: grid;
        grid-template-columns: 1fr;
        background-color: #ddd8d8;
        padding: 5px;
        border-radius: 8px;
    
    }

    .meaning-card {
        border: 2px solid #522d22;
       
        background-color: white;
    }
  
  }