.Meaning {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.Meaning p {
    margin: 0;
    line-height: 1.5;
}

.Meaning strong {
    font-weight: bold;
}

.examples {
    color: brown;
    font-style: italic;
}

li {
    background-color: rgb(41, 41, 41);
    color: white;
    
    
}