.Phonetic {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1em;
}

.Phonetic button {
  background-color: #201f1f;
  color: rgb(241, 239, 239);
  border: none;
  margin: 0.5rem 0;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.Phonetic button:hover {
  background-color: #d94128;
}

.Phonetic button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}