 h3 {
    text-transform: uppercase;
    color: rgb(86, 66, 66);
  }

.Typewriter {
    display: inline-block;
    color: #f4e2dc; 
    font-size: 3.5rem; 
    font-weight: bold; 
    text-transform: capitalize;
  }

  .Results {
    padding: 0 5rem;
    
  }

 

  @media (max-width: 768px) {

    .Results {
        padding: 0;
    }
    
    .Typewriter {
        font-size: 24px;
    }
    
}